.inputField {
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    background: #FFE9E2;
    border: 1px solid #FF5722;
    border-radius: 16px;
    padding: 10px;
}


input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    color: #1E1E1E;
    padding-left: 10px;
    background-image: url(./../../assets/input_star.svg);
    background-repeat: no-repeat;
    background-position: calc(128px) top;
}

input:focus::placeholder {
    color: transparent;
    background-image: none;
}


.circleInput {
    width: 24px;
    height: 24px;
    border-radius: 16px !important;
    background: #FF5722 !important;
}





