@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}